/* Navbar */
#navbar {
  width: 100%;
  padding: 50px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;

  .hidden {
    opacity: 0;
    transform: translateX(-10px);
  }

  .logo {
    @include animation(0.5s ease-in-out 0s 1 fadeFromLeft);
    @include transition(all 0.25s ease-out);

    img {
      height: 2em;
    }
  }
}
