#courses {
	h1 {
		text-align: center;
		font-size: 2em;
		margin: 0 0 10px 0;
	}

	h3 {
		text-align: center;
		font-weight: 400;
		font-size: 1em;
		margin: 0;
	}

	.course-list {
		margin: 30px auto 100px auto;
		width: 60%;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		align-content: center;
		align-items: center;

		a {
			width: 30%;

			img {
				width: 100%;
				height: auto;
				filter: grayscale(100);
				@include transition(all 0.1s ease-in-out);
			}

			img:hover {
				filter: grayscale(0);
				transform: translateY(-3px);
			}
		}
	}
}
